<template>
  <q-page class="q-pa-sm flex column justify-between" style="min-height: 100% !important;">
    <div class="column">
      <div style="" class="column">
        <q-chat-message
            name="me"
            avatar="https://cdn.quasar.dev/img/avatar4.jpg"
            :text="['hey, how are you?']"
            sent
            stamp="7 minutes ago"
        />
        <q-chat-message
            name="Jane"
            avatar="https://cdn.quasar.dev/img/avatar3.jpg"
            :text="[`doing fine, how r you?`]"
            stamp="4 minutes ago"
            bg-color="blue-3"
        />
        <q-chat-message
            name="Jane"
            avatar="https://cdn.quasar.dev/img/avatar3.jpg"
            :text="[`doing fine, how r you?`]"
            stamp="4 minutes ago"
            bg-color="blue-3"
        />
      </div>
    </div>
    <div class="flex justify-center">
      <q-input outlined style="position:fixed; bottom: 100px; width: 95%;" color="primary" class="" v-model="text" placeholder="Сообщение" />
    </div>
  </q-page>
</template>

<script>
export default {
  name: 'Chat'
}
</script>

<style scoped>

</style>
