<template>
  <q-page>
    <div>
      <q-btn :to="{ name: 'profile.events.organised' }" class="q-px-none" label="Назад" flat icon="arrow_back" no-caps color="grey-7" />
      <span style="margin-left: 40px; color: #D8D8D8;">Участники события</span>
    </div>
    <div class="q-mt-lg">
      <div class="time-card q-mb-sm text-blue-2">{{ momentFrom }} - {{ momentTo }}</div>
      <div class="text-weight-bold" style="font-size: 18px; margin-bottom: 12px;">{{ event.name }}</div>
      <span class="text-grey-6" >Пришло {{ event.event_rates.length }}:</span>
      <div class="q-mb-md"></div>
    </div>
    <div class="column">
      <div class="row q-mt-md" style="height: 66px;" v-for="(rate, n) in event.event_rates" :key="n">
        <img :src="getUser(rate.user_id).img" alt="" height="100%">
        <div style="margin-left: 16px;">
          <h5 style="margin: 10px 0 12px; font-weight: 600; font-size: 17px;">{{ getUser(rate.user_id).first_name + ' ' + getUser(rate.user_id).last_name }}</h5>
          <div class="flex" style="font-size: 20px;">
            <q-icon class="fab fa-vk q-mr-md" style="color: #989898;"></q-icon>
            <q-icon class="fab fa-instagram q-mr-md" style="color: #989898;"></q-icon>
            <q-icon class="fab fa-telegram-plane" style="color: #989898;"></q-icon>
          </div>
          <q-rating size="20px" :value="rate.mark" color="primary" icon="star_border" icon-selected="star" :max="5" />
        </div>
      </div>
    </div>
<!--    <div class="column" v-if="notEnd">-->
<!--      <div class="row q-mt-md" style="height: 66px;" v-for="n in 3" :key="n">-->
<!--        <img src="../../statics/images/photo.png" alt="" height="100%">-->
<!--        <div style="margin-left: 16px;">-->
<!--          <h5 style="margin: 6px 0 4px; font-weight: 600; font-size: 17px;">Анжелла Лондон</h5>-->
<!--          <div class="flex" style="font-size: 20px; margin-bottom: 2px;">-->
<!--            <q-icon class="fab fa-vk q-mr-md" style="color: #989898;"></q-icon>-->
<!--            <q-icon class="fab fa-instagram q-mr-md" style="color: #989898;"></q-icon>-->
<!--            <q-icon class="fab fa-telegram-plane" style="color: #989898;"></q-icon>-->
<!--          </div>-->
<!--          <q-rating size="20px" v-model="stars" color="primary" icon="star_border" icon-selected="star" :max="5" ></q-rating>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
  </q-page>
</template>

<script>
import moment from 'moment'

export default {
  data () {
    return {
    }
  },
  computed: {
    momentFrom: () => moment(event.from).format('Y.M.DD HH:mm'),
    momentTo: () => moment(event.to).format('Y.M.DD HH:mm')
  },
  methods: {
    getUser (userId) {
      return this.$store.getters['users/users'].find(user => user.id === userId)
    }
  },
  props: [ 'event' ]
}
</script>

<style lang="scss" scoped>

</style>
