<template>
  <q-page class="flex items-start q-mt-lg">
    <q-btn :to="{ name: 'profile.events.organised.create' }" class="full-width q-py-md q-mb-lg" label="Создать событие" unelevated no-caps color="primary" />
    <template v-for="(event, index) in eventsByUser(profile.id)">
      <event-card-end class="q-mb-lg" v-if="isEnded(event)" :key="index" :event="event" />
      <event-card-passing class="q-mb-lg" v-else :key="index" :event="event" />
    </template>
  </q-page>
</template>

<script>
import eventCardPassing from '../../components/eventCardPassing'
import eventCardEnd from '../../components/eventCardEnd'
import { mapGetters } from 'vuex'
import moment from 'moment'

export default {
  name: 'Organise',
  data () {
    return {
      event: null
    }
  },
  computed: {
    ...mapGetters({
      eventsByUser: 'events/eventsByUser',
      profile: 'users/profile'
    })
  },
  methods: {
    isEnded (event) {
      return moment().isAfter(moment(event.to))
    }
  },
  components: {
    eventCardPassing,
    eventCardEnd
  }
}
</script>

<style scoped>

</style>
