<template>
  <q-page class="">
    <event-card-visiting-active
        v-for="(event, index) in eventsFromRates" :key="index"
        :event="event"
        :end="isEnded(event)"
        class="q-mt-md"
    />
  </q-page>
</template>

<script>
import eventCardVisitingActive from '../../components/eventCardVisitingActive'
// import eventCardVisitingEnd from '../../components/eventCardVisitingEnd'
// import eventCardVisitingRating from '../../components/eventCardVisitingRating'
import { mapGetters } from 'vuex'
import moment from 'moment'

export default {
  name: 'Visit',
  data () {
    return {
      events: null
    }
  },
  computed: {
    ...mapGetters({
      profile: 'users/profile',
      userEventRates: 'events/eventRatesByUserId'
    }),
    eventsFromRates () {
      return this.userEventRates(this.profile.id).map((rate) => {
        return rate.event
      })
    }
  },
  methods: {
    isEnded (event) {
      return moment().isAfter(moment(event.to))
    }
  },
  components: {
    eventCardVisitingActive
    // eventCardVisitingRating,
    // eventCardVisitingEnd
  }
}
</script>

<style scoped>

</style>
