<template>
  <q-page>
    <div class="daily-ttl q-my-lg" style="color: #000; font-weight: bold; font-size: 24px; padding: 0 32px;">Доска добра</div>
    <div class="daily-description q-mb-lg" style="color: #848484; font-size: 16px; line-height: 20px !important; padding: 0 32px;">Сделай мир лучше и добрее, выполняя “виклики” - еженедельные челленджи</div>
    <div class="dayli-info flex items-center" style="padding: 0 32px;">
      <div class="calendar-block row flex items-center">
        <div class="calendar-icon col-3">
          <svg width="53" height="53" viewBox="0 0 53 53" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0)"><path d="M11.3636 22.4074C11.2673 21.598 10.9802 20.8465 10.5473 20.1999L49.3245 7.25277L47.2891 1.15591C46.9932 0.269923 46.0348 -0.20822 45.1494 0.0873005L2.9683 14.1708C2.08289 14.4664 1.60379 15.4246 1.89969 16.3106L2.89781 19.2996C1.90141 20.2247 1.27637 21.5445 1.27637 23.0084C1.27637 24.9041 2.32435 26.5588 3.87091 27.4263V51.3086C3.87091 52.243 4.62872 52.9998 5.56227 52.9998H50.0323C50.9655 52.9998 51.7233 52.2428 51.7233 51.3086V22.4074H11.3636ZM36.079 5.10504L41.2129 3.39094L39.9775 8.38442L34.8436 10.0985L36.079 5.10504ZM23.3949 9.33994L28.5292 7.62584L27.2938 12.6191L22.1599 14.3334L23.3949 9.33994ZM6.33823 25.5875C4.9166 25.5875 3.75973 24.4306 3.75973 23.0086C3.75973 21.5866 4.9166 20.4297 6.33823 20.4297C7.76024 20.4297 8.91711 21.5866 8.91711 23.0086C8.91711 24.4306 7.76024 25.5875 6.33823 25.5875ZM10.7114 13.5748L15.8457 11.8607L14.6103 16.8542L9.47606 18.5685L10.7114 13.5748ZM15.755 28.1178H10.3424L13.0955 23.7727H18.5081L15.755 28.1178ZM26.4674 23.7727H31.88L29.1269 28.1178H23.7143L26.4674 23.7727ZM25.1388 44.7716V33.31L34.2667 39.0408L25.1388 44.7716ZM42.4989 28.1178H37.0863L39.8394 23.7727H45.252L42.4989 28.1178Z" fill="#148A92"/></g><defs><clipPath id="clip0"><rect width="53" height="53" fill="white"/></clipPath></defs></svg>
        </div>
        <div class="calendar-info col-9" style="color: #148A92; font-size: 16px; line-height: 18px !important;">Присоединяйся к текущему виклику, выкладывая видео с выполнением задания</div>
      </div>
      <div class="calendar-block row flex items-center">
        <div class="calendar-icon offset-3 col-3">
          <svg width="53" height="53" viewBox="0 0 53 53" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0)"><path d="M52.6596 50.4773L39.4102 33.9154L33.8127 37.5344C33.5565 37.7001 33.2631 37.7832 32.9696 37.7832C32.6934 37.7832 32.4169 37.7096 32.1707 37.5619L26.5 34.1594L20.8291 37.562C20.3213 37.8666 19.6843 37.8559 19.1872 37.5344L13.5897 33.9154L0.340262 50.4773C-0.0326005 50.9434 -0.105268 51.5819 0.15321 52.1199C0.411791 52.6578 0.955765 53 1.55274 53H51.4472C52.044 53 52.588 52.6578 52.8467 52.1199C53.1052 51.5819 53.0325 50.9434 52.6596 50.4773Z" fill="#148A92"/><path d="M20.0609 34.4013L25.7011 31.0172C26.1928 30.7221 26.8071 30.7221 27.2988 31.0172L32.939 34.4013L37.4602 31.4781L28.0526 19.7186V14.9861L39.6679 9.17841C40.194 8.91538 40.5263 8.37772 40.5263 7.78955C40.5263 7.20137 40.194 6.66381 39.6679 6.40068L27.1943 0.16386C26.713 -0.0768133 26.1414 -0.0512449 25.6836 0.23187C25.2258 0.514882 24.9472 1.01466 24.9472 1.55283V19.7186L15.5396 31.4781L20.0609 34.4013Z" fill="#148A92"/></g><defs><clipPath id="clip0"><rect width="53" height="53" fill="white"/></clipPath></defs></svg>
        </div>
        <div class="calendar-info col-6" style="color: #148A92; font-size: 16px; line-height: 18px !important;">Присоединяйся к текущему виклику, выкладывая видео с выполнением задания</div>
      </div>
    </div>
    <router-link class="q-my-lg" v-for="(daily, index) in dailys" :key="index"  :to="{ name: 'daily.task', params: {id: daily.id}}">
      <div class="dayli-card" style="padding: 0 32px;">
        <q-card  class="my-card q-mb-xl">
          <div class="card-top-bg"></div>
          <img src="https://cdn.quasar.dev/img/mountains.jpg">

          <q-card-section >
            <div class="time-card q-mb-sm text-blue-2">28.10 - 3.11</div>
            <div class="ttl-card q-mb-sm" style="line-height: 28px !important; color: #000 !important;">Сдайте батарейки куда нужно</div>
            <div class="card-info" style="color: #525252 !important;">
              Передайте батарейки в спецальные места, нам просто - природе приятно!
            </div>
          </q-card-section>
        </q-card>
      </div>
    </router-link>

  </q-page>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
export default {
  name: 'Daily',
  data () {
    return {
      dailys: [{ id: 1 }, { id: 2 }]
    }
  },
  computed: {
    ...mapGetters({
      shopProducts: 'shop/shopItems'
    })
  },
  methods: {
    ...mapActions({})
  }
}
</script>

<style scoped>
  a{
    text-decoration: none;
  }
  .time-card{
    color: #148A92;
  }
  .card-top-bg{
    position: absolute;
    width: 100%;
    height: 20%;
    background: linear-gradient(180deg, rgba(34, 60, 71, 0.6) 0%, rgba(24, 47, 57, 0) 100%);
  }
  .card-top-info{
    position: absolute;
    z-index: 100;
    width: 100%;

  }
  .ttl-card{
    font-size: 24px;
    line-height: 24px;
    font-weight: bold;
  }
  .card-info-icon{
    height: 25px;
    display: flex;
    align-items: center;
    color: #9D9D9D;
  }
  .card-top-info-right{
    position: absolute;
    top: 16px;
    right: 16px;
    height: 25px;
    display: flex;
    align-items: center;
    color: #fff;
    font-weight: bold;
  }
  .card-top-info-right svg{
    margin-right: 5px;
  }
  .event-img{
    width: 18px;
    height: 18px;
    background-color: #ff0000;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 5px;
  }
  .event-img img{
    width: 100%;
  }
  .event-circle p{
    position: relative;
    z-index: 10;
    display: flex;
    align-items: center;
  }
  .event-circle p:before{
    position: absolute;
    left: 0;
    content: '';
    height: 24px;
    width: 24px;
    border-radius: 50%;
    background-color: #3FDB87;
    margin-right: 5px;
  }
  .icon-info{
    word-break: break-word;
  }
  .coins{
    font-weight: bold;
    color: #148A92;
    font-size: 18px;
  }
  .coins svg{
    margin-right: 5px;
  }
  .balance{
    color: #A4A4A4;
  }
  .balance-coins{
    color: #148A92;
    font-size: 18px;
    font-weight: bold;
  }
  .dayli-info{
    background: url("../../statics/images/daily-bg.svg") no-repeat;
    background-size: 100% auto;
    background-position: center center;
    width: 100%;
    height: 340px;
  }
</style>
