<template>
  <q-page class="flex">
    <div style="padding: 8px">
      <q-card  class="my-card q-mb-xl">
        <div class="card-top-bg"></div>
        <img src="https://cdn.quasar.dev/img/mountains.jpg">

        <q-card-section>
          <div class="time-card q-mb-sm text-blue-2">Текущий виклик</div>
          <div class="ttl-card q-mb-sm" style="line-height: 28px !important; color: #000 !important;">Отчистим берега от мусора</div>
          <div class="card-description q-mt-sm">
            Подбери хотя бы один неприродный предмет с берега реки, моря или канала
          </div>
        </q-card-section>
      </q-card>
    </div>
    <q-intersection
      v-for="index in 5"
      :key="index"
      class="example-item"
      style="width: 100%"
    >
      <q-card class="q-ma-sm">
        <q-video style="height: 250px"
          src="https://www.youtube.com/embed/Te_m4XXnwhM"
        />

        <q-card-section class="flex items-center justify-between">
          <div class="user-info flex items-center">
            <div class="user-img">
              <img src="https://sun9-58.userapi.com/c840438/v840438006/6c76d/kSJ9bodrVRU.jpg" alt="">
            </div>
            <div class="user-name" style="margin-left: 5px; font-weight: bold; font-size: 16px;">Володя Серый</div>
          </div>
          <div class="likes flex items-center">
            <svg width="18" height="16" viewBox="0 0 18 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M16.2532 1.07695C14.3266 -0.564848 11.4614 -0.269536 9.69301 1.55507L9.00043 2.26875L8.30785 1.55507C6.54301 -0.269536 3.67426 -0.564848 1.7477 1.07695C-0.460115 2.96132 -0.576131 6.34335 1.39965 8.38593L8.20238 15.4102C8.64184 15.8637 9.35551 15.8637 9.79496 15.4102L16.5977 8.38593C18.577 6.34335 18.461 2.96132 16.2532 1.07695Z" fill="#3FDBC8"/></svg>
            <span style="color: #3FDBC8; font-weight: bold; margin-left: 5px;">25</span>
          </div>
        </q-card-section>
      </q-card>
    </q-intersection>
  </q-page>
</template>

<script>
export default {
  name: 'Event'
}
</script>

<style scoped>
  .user-img{
    width: 25px;
    height: 25px;
    overflow: hidden;
    border-radius: 50%;
    display: flex;
    align-items: center;
  }
  .user-img img{
    width: 100%;
    height: 100%;
  }
  a{
    text-decoration: none;
  }
  .time-card{
    color: #148A92;
  }
  .card-top-bg{
    position: absolute;
    width: 100%;
    height: 20%;
    background: linear-gradient(180deg, rgba(34, 60, 71, 0.6) 0%, rgba(24, 47, 57, 0) 100%);
  }
  .card-top-info{
    position: absolute;
    z-index: 100;
    width: 100%;

  }
  .ttl-card{
    font-size: 24px;
    line-height: 24px;
    font-weight: bold;
  }
  .card-info-icon{
    height: 25px;
    display: flex;
    align-items: center;
    color: #9D9D9D;
  }
  .card-top-info-right{
    position: absolute;
    top: 16px;
    right: 16px;
    height: 25px;
    display: flex;
    align-items: center;
    color: #fff;
    font-weight: bold;
  }
  .card-top-info-right svg{
    margin-right: 5px;
  }
  .event-img{
    width: 18px;
    height: 18px;
    background-color: #ff0000;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 5px;
  }
  .event-img img{
    width: 100%;
  }
  .event-circle p{
    position: relative;
    z-index: 10;
    display: flex;
    align-items: center;
  }
  .event-circle p:before{
    position: absolute;
    left: 0;
    content: '';
    height: 24px;
    width: 24px;
    border-radius: 50%;
    background-color: #3FDB87;
    margin-right: 5px;
  }
  .icon-info{
    word-break: break-word;
  }
  .coins{
    font-weight: bold;
    color: #148A92;
    font-size: 18px;
  }
  .coins svg{
    margin-right: 5px;
  }
  .balance{
    color: #A4A4A4;
  }
  .balance-coins{
    color: #148A92;
    font-size: 18px;
    font-weight: bold;
  }
  .dayli-info{
    background: url("../../statics/images/daily-bg.svg") no-repeat;
    background-size: 100% auto;
    background-position: center center;
    width: 100%;
    height: 340px;
  }
</style>
