<template>
  <div id="q-app">
    <router-view />
  </div>
</template>

<script>
import { eventNames } from './store/events/event'
import { userNames } from './store/users'
import { shopNames } from './store/shop'

export default {
  name: 'App',
  beforeMount () {
    this.$router.push('/events')
    this.$store.dispatch('events/' + eventNames.EVENT_START)
    this.$store.dispatch('users/' + userNames.START)
    this.$store.dispatch('shop/' + shopNames.SHOP_ITEMS_LIST_REQUEST)
  }
}
</script>
