<template>
  <q-layout view="hhh lpR fFf">

    <q-header class="bg-primary text-white">
      <q-toolbar>
        <q-toolbar-title class="q-py-md flex items-center">
          <div class="logo">
            <svg  height="40" viewBox="0 0 106 30" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M49.9578 22.0012H46.5496V16.0637H41.5007V22.0012H38.073V7.78244H41.5007V13.427H46.5496V7.78244H49.9578V22.0012ZM57.0964 22.1965C55.4753 22.1965 54.1635 21.7147 53.1609 20.7512C52.1583 19.7811 51.657 18.5214 51.657 16.9719V16.6985C51.657 15.6177 51.8556 14.664 52.2527 13.8371C52.6563 13.0103 53.2423 12.3723 54.0105 11.9231C54.7787 11.4673 55.6902 11.2395 56.7449 11.2395C58.2292 11.2395 59.4011 11.7017 60.2605 12.6262C61.1199 13.5442 61.5496 14.8267 61.5496 16.4738V17.7531H55.0066C55.1238 18.3456 55.3809 18.8111 55.7781 19.1496C56.1752 19.4882 56.6895 19.6574 57.321 19.6574C58.3627 19.6574 59.1765 19.2929 59.7625 18.5637L61.2664 20.341C60.8562 20.9074 60.2735 21.3599 59.5183 21.6985C58.7696 22.0305 57.9623 22.1965 57.0964 22.1965ZM56.7253 13.7785C55.7618 13.7785 55.1889 14.4166 55.0066 15.6926H58.3269V15.4387C58.3399 14.9113 58.2065 14.5044 57.9265 14.218C57.6466 13.925 57.2462 13.7785 56.7253 13.7785ZM66.3542 22.0012H63.0535V7.00119H66.3542V22.0012ZM78.2 16.7961C78.2 18.4367 77.8289 19.7486 77.0867 20.7317C76.351 21.7082 75.3549 22.1965 74.0984 22.1965C73.1283 22.1965 72.3308 21.8417 71.7058 21.132V26.0637H68.4148V11.4348H71.491L71.5886 12.4113C72.2201 11.6301 73.0502 11.2395 74.0789 11.2395C75.3809 11.2395 76.3933 11.7212 77.116 12.6848C77.8386 13.6418 78.2 14.9602 78.2 16.6399V16.7961ZM74.9089 16.591C74.9089 14.716 74.3621 13.7785 73.2683 13.7785C72.4871 13.7785 71.9662 14.0585 71.7058 14.6184V18.7785C71.9923 19.3645 72.5196 19.6574 73.2878 19.6574C74.336 19.6574 74.8764 18.7525 74.9089 16.9426V16.591ZM83.1316 22.0012H79.8308V11.4348H83.1316V22.0012ZM79.6355 8.71017C79.6355 8.24142 79.8048 7.85731 80.1433 7.55783C80.4819 7.25835 80.9213 7.10861 81.4617 7.10861C82.002 7.10861 82.4415 7.25835 82.78 7.55783C83.1186 7.85731 83.2878 8.24142 83.2878 8.71017C83.2878 9.17892 83.1186 9.56304 82.78 9.86252C82.4415 10.162 82.002 10.3117 81.4617 10.3117C80.9213 10.3117 80.4819 10.162 80.1433 9.86252C79.8048 9.56304 79.6355 9.17892 79.6355 8.71017ZM89.6355 19.6574C90.0977 19.6574 90.4558 19.5337 90.7097 19.2863C90.9636 19.0324 91.0873 18.6809 91.0808 18.2317H94.1667C94.1667 19.3905 93.7501 20.341 92.9167 21.0832C92.0899 21.8254 91.0222 22.1965 89.7136 22.1965C88.1772 22.1965 86.9662 21.7147 86.0808 20.7512C85.1954 19.7876 84.7527 18.453 84.7527 16.7473V16.6106C84.7527 15.5429 84.948 14.6021 85.3386 13.7883C85.7358 12.968 86.3054 12.3397 87.0476 11.9035C87.7898 11.4608 88.6687 11.2395 89.6843 11.2395C91.058 11.2395 92.1485 11.6203 92.9558 12.382C93.7631 13.1438 94.1667 14.1757 94.1667 15.4778H91.0808C91.0808 14.9309 90.9473 14.511 90.6804 14.218C90.4135 13.925 90.0554 13.7785 89.6062 13.7785C88.7533 13.7785 88.2553 14.3222 88.1121 15.4094C88.0665 15.7544 88.0437 16.2297 88.0437 16.8352C88.0437 17.8964 88.1707 18.632 88.4246 19.0422C88.6785 19.4524 89.0821 19.6574 89.6355 19.6574ZM99.8015 18.0656L98.8738 18.9934V22.0012H95.5828V6.99142H98.8738V14.9602L99.2058 14.5207L101.686 11.4348H105.632L101.93 15.7805L105.876 22.0012H102.106L99.8015 18.0656Z" fill="white"/>
              <path d="M22.2694 14.8748C24.8815 14.8748 26.7009 17.5911 25.7345 20.0973C23.7189 25.312 18.774 29.0012 12.9988 29.0012C7.22351 29.0012 2.27868 25.312 0.262999 20.0973C-0.70332 17.5911 1.11608 14.8748 3.72816 14.8748C5.23803 14.8748 6.61201 15.8165 7.17066 17.2642C8.09169 19.6536 10.3565 21.3426 12.9988 21.3426C15.641 21.3426 17.9059 19.6536 18.8269 17.2642C19.3855 15.8165 20.7595 14.8748 22.2694 14.8748Z" fill="#292929"/>
              <path d="M12.9988 18.1048C15.6672 18.1048 17.8304 15.8746 17.8304 13.1236C17.8304 10.3725 15.6672 8.14236 12.9988 8.14236C10.3304 8.14236 8.16719 10.3725 8.16719 13.1236C8.16719 15.8746 10.3304 18.1048 12.9988 18.1048Z" fill="#292929"/>
              <path d="M24.7758 11.9016C24.7758 11.9016 24.655 9.8858 22.058 8.57044C19.5139 7.27844 19.6196 4.51543 19.6196 4.51543C19.6196 4.51543 22.0505 3.77603 24.1492 5.98644C26.2479 8.18907 24.7758 11.9016 24.7758 11.9016Z" fill="white"/>
              <path d="M11.3455 5.2159C11.3455 5.2159 11.7758 1.31654 14.4709 0.312518C17.166 -0.691508 19.5139 1.04413 19.5139 1.04413C19.5139 1.04413 18.6079 1.16088 16.8489 2.84982C15.0899 4.53877 13.346 3.51139 11.3455 5.2159Z" fill="white"/>
              <path d="M6.47612 1.16088C6.47612 1.16088 10.5679 1.02857 11.3455 5.2159C10.1225 4.35197 7.81991 5.17698 7.57078 2.9977C7.39714 1.51891 6.47612 1.16088 6.47612 1.16088Z" fill="white"/>
              <path d="M1.3954 11.8705C1.3954 11.8705 0.391335 8.34473 2.40701 6.26663C4.3925 4.21967 5.92502 4.43759 5.92502 4.43759C5.92502 4.43759 5.92502 7.23953 5.07194 8.57044C4.21886 9.90136 2.5882 9.84688 1.3954 11.8705Z" fill="white"/>
            </svg>
          </div>
          <q-space/>
        </q-toolbar-title>
      </q-toolbar>
    </q-header>

    <q-page-container>
      <router-view />
    </q-page-container>

    <q-footer class="bg-grey-8 text-white">
      <q-toolbar class="flex justify-between q-py-lg q-px-lg">
        <q-item v-for="link in links" :key="link.icon" :to="link.url" active-class="bg-grey-8 text-primary">
            <q-icon  :name="link.icon" style="font-size: 24px" />
        </q-item>
      </q-toolbar>
    </q-footer>

  </q-layout>
</template>

<script>
export default {
  data () {
    return {
      links: [
        { icon: 'fa fa-calendar', url: '/events' },
        { icon: 'fa fa-user-circle', url: '/profile' },
        { icon: 'fa fa-shopping-cart', url: '/shop' },
        { icon: 'fa fa-leaf', url: '/daily' }
      ]
    }
  }
}
</script>
