<template>
  <q-page class="flex">
    <div style="padding: 8px">
      <q-card  class="my-card q-mb-xl">
        <div class="card-top-bg"></div>
        <img :src="event.img" />

        <q-card-section>
          <div class="card-top-info-left flex items-center q-mb-sm">
            <div class="flex items-center">
              <img :src="event.user.img" alt="" height="24px" width="24px" style="border-radius: 50%">
              <span style="margin-left: 8px;">{{ event.user.first_name + ' ' + event.user.last_name}}</span>
            </div>
          </div>
          <div class="time-card q-mb-sm text-blue-2">23 ноября, 11:00 - 15:30</div>
          <div class="ttl-card q-mb-sm" style="line-height: 28px !important; color: #000 !important;">{{event.name}}</div>
          <div class="card-info">
            <div class="card-info-icon flex align-center q-mb-md">
              <svg width="17" height="15" viewBox="0 0 17 15" fill="none" xmlns="http://www.w3.org/2000/svg" style="position:absolute;"><path fill-rule="evenodd" clip-rule="evenodd" d="M8.70938 11.8833C8.11862 12.6723 7.42643 13.5968 6.61662 14.6974C6.31869 15.1009 5.68134 15.1009 5.38338 14.6974C4.57357 13.5968 3.88138 12.6723 3.29061 11.8833C0.56899 8.24839 0 7.48847 0 5.625C0 2.51839 2.68628 0 6 0C9.31372 0 12 2.51839 12 5.625C12 7.48847 11.431 8.24839 8.70938 11.8833ZM6 8C7.10457 8 8 7.10457 8 6C8 4.89543 7.10457 4 6 4C4.89543 4 4 4.89543 4 6C4 7.10457 4.89543 8 6 8Z" fill="#9D9D9D"/></svg>
              <div class="icon-info q-ml-sm" style="padding-left: 17px; line-height: 18px !important;">{{ event.position }}</div>
            </div>
            <div class="card-info-icon flex align-center" v-if="event.trophy.length">
              <svg width="17" height="14" viewBox="0 0 17 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.857143 8.3125H4.71429V12.25C4.71429 12.7332 5.09812 13.125 5.57143 13.125H6.42857C6.90187 13.125 7.28571 12.7332 7.28571 12.25V8.3125H11.1429C11.6162 8.3125 12 7.92066 12 7.4375V6.5625C12 6.07934 11.6162 5.6875 11.1429 5.6875H7.28571V1.75C7.28571 1.26684 6.90187 0.875 6.42857 0.875H5.57143C5.09812 0.875 4.71429 1.26684 4.71429 1.75V5.6875H0.857143C0.383839 5.6875 -1.19209e-07 6.07934 -1.19209e-07 6.5625V7.4375C-1.19209e-07 7.92066 0.383839 8.3125 0.857143 8.3125Z" fill="#9D9D9D"/></svg>
              <div class="icon-info q-ml-sm">{{ event.trophy }}</div>
            </div>
            <div class="card-info-icon flex align-center">
              <svg width="17" height="14" viewBox="0 0 17 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M2.55 6.125C3.48766 6.125 4.25 5.34023 4.25 4.375C4.25 3.40977 3.48766 2.625 2.55 2.625C1.61234 2.625 0.85 3.40977 0.85 4.375C0.85 5.34023 1.61234 6.125 2.55 6.125ZM14.45 6.125C15.3877 6.125 16.15 5.34023 16.15 4.375C16.15 3.40977 15.3877 2.625 14.45 2.625C13.5123 2.625 12.75 3.40977 12.75 4.375C12.75 5.34023 13.5123 6.125 14.45 6.125ZM15.3 7H13.6C13.1325 7 12.7102 7.19414 12.402 7.50859C13.4725 8.11289 14.2322 9.20391 14.3969 10.5H16.15C16.6202 10.5 17 10.109 17 9.625V8.75C17 7.78477 16.2377 7 15.3 7ZM8.5 7C10.1442 7 11.475 5.63008 11.475 3.9375C11.475 2.24492 10.1442 0.875 8.5 0.875C6.85578 0.875 5.525 2.24492 5.525 3.9375C5.525 5.63008 6.85578 7 8.5 7ZM10.54 7.875H10.3195C9.76703 8.14844 9.15344 8.3125 8.5 8.3125C7.84656 8.3125 7.23563 8.14844 6.68047 7.875H6.46C4.77063 7.875 3.4 9.28594 3.4 11.025V11.8125C3.4 12.5371 3.97109 13.125 4.675 13.125H12.325C13.0289 13.125 13.6 12.5371 13.6 11.8125V11.025C13.6 9.28594 12.2294 7.875 10.54 7.875ZM4.59797 7.50859C4.28984 7.19414 3.8675 7 3.4 7H1.7C0.762344 7 0 7.78477 0 8.75V9.625C0 10.109 0.379844 10.5 0.85 10.5H2.60047C2.76781 9.20391 3.5275 8.11289 4.59797 7.50859Z" fill="#9D9D9D"/></svg>
              <div class="icon-info q-ml-sm">Идет 12 человек</div>
            </div>
          </div>
          <div class="card-description q-mt-sm">
            {{event.description}}
          </div>
        </q-card-section>
      </q-card>
    </div>
  </q-page>
</template>

<script>
export default {
  name: 'Card',
  data: () => {
    return {
      event: null
    }
  },
  beforeMount () {
    console.log(this.$store)
    this.event = this.$store.getters['events/eventsAll'].find(event => event.id === this.$route.params.id)
  }
}
</script>

<style scoped>
  a{
    text-decoration: none;
  }
  .time-card{
    color: #148A92;
  }
  .card-top-bg{
    position: absolute;
    width: 100%;
    height: 20%;
    background: linear-gradient(180deg, rgba(34, 60, 71, 0.6) 0%, rgba(24, 47, 57, 0) 100%);
  }
  .card-top-info{
    position: absolute;
    z-index: 100;
    width: 100%;

  }
  .ttl-card{
    font-size: 24px;
    line-height: 24px;
    font-weight: bold;
  }
  .card-info-icon{
    height: 25px;
    display: flex;
    align-items: center;
    color: #9D9D9D;
  }
  .card-top-info-right{
    position: absolute;
    top: 16px;
    right: 16px;
    height: 25px;
    display: flex;
    align-items: center;
    color: #fff;
    font-weight: bold;
  }
  .card-top-info-right svg{
    margin-right: 5px;
  }
  .event-img{
    width: 24px;
    height: 24px;
    background-color: #ff0000;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 5px;
  }
  .event-img img{
    width: 100%;
  }
  .event-circle p{
    position: relative;
    z-index: 10;
    display: flex;
    align-items: center;
  }
  .event-circle p:before{
    position: absolute;
    left: 0;
    content: '';
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background-color: #3FDB87;
    margin-right: 5px;
  }
  .event-name{
    color: #9D9D9D;
  }

  .top-btn{
    background-color: #BDBDBD;
    color: #fff;
  }
</style>
