<template>
  <q-page>
    <q-tabs
      inline-label
      :breakpoint="0"
      align="justify"
      class="bg-blue-2 text-white"
      indicator-color="primary"
    >
      <q-route-tab name="profile" label="События" :to="{ name: 'events' }" />
      <q-route-tab name="events" label="Карта" :to="{ name: 'events.map' }" />
    </q-tabs>
    <router-view />
  </q-page>
</template>

<script>
export default {
  name: 'Events',
  data () {
    return {

    }
  }
}
</script>

<style scoped>
  a{
    text-decoration: none;
  }
  .time-card{
    color: #148A92;
  }
  .card-top-bg{
    position: absolute;
    width: 100%;
    height: 20%;
    background: linear-gradient(180deg, rgba(34, 60, 71, 0.6) 0%, rgba(24, 47, 57, 0) 100%);
  }
  .card-top-info{
    position: absolute;
    z-index: 100;
    width: 100%;

  }
  .ttl-card{
    font-size: 24px;
    line-height: 24px;
    font-weight: bold;
  }
  .card-info-icon{
    height: 25px;
    display: flex;
    align-items: center;
    color: #9D9D9D;
  }
  .card-top-info-right{
    position: absolute;
    top: 16px;
    right: 16px;
    height: 25px;
    display: flex;
    align-items: center;
    color: #fff;
    font-weight: bold;
  }
  .card-top-info-right svg{
    margin-right: 5px;
  }
  .event-img{
    width: 18px;
    height: 18px;
    background-color: #ff0000;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 5px;
  }
  .event-img img{
    width: 100%;
  }
  .event-circle p{
    position: relative;
    z-index: 10;
    display: flex;
    align-items: center;
  }
  .event-circle p:before{
    position: absolute;
    left: 0;
    content: '';
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background-color: #3FDB87;
    margin-right: 5px;
  }
  .event-name{
    color: #fff;
  }

  .top-btn{
    background-color: #BDBDBD;
    color: #fff;
  }
</style>
